<%= form_for(@plano) do |f| %>
  <% if @plano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plano.errors.count, "error") %> prohibited this plano from being saved:</h2>

      <ul>
      <% @plano.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :altura %><br />
    <%= f.text_field :altura %>
  </div>
  <div class="field">
    <%= f.label :peso %><br />
    <%= f.text_field :peso %>
  </div>

  <div id="exercicios">
	<% @plano.exercicios.each do |exercicio| %>
		<%= exercicio.nome %> - <%= exercicio.maquina %><br />
	<% end %>
  </div>
  <div id="dados">
  </div>

  <div class="field">
    <%= label(:exercicio,:exercicio) %><br />
    <%= collection_select("exercicios_listbox", nil, Exercicio.all, :id, :nome) %>
    <%= link_to_function "Associar exercicio", "adicionaExercicio(#{@plano.exercicios.to_json})", :class => "nav_link"%><br />
    <%= label(:exercicio,:peso) %><br />
    <%= text_field(:exercicio,:peso) %><br />
    <%= label(:exercicio,:series) %><br />
    <%= text_field(:exercicio,:series) %><br />
    <%= label(:exercicio,:repeticoes) %><br />
    <%= text_field(:exercicio,:repeticoes) %><br />
  </div>
  

  <%= hidden_field_tag "selected_exercicios", "" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
