<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @plano.data %>
</p>

<p>
  <b>Altura:</b>
  <%= @plano.altura %>
</p>

<p>
  <b>Peso:</b>
  <%= @plano.peso %>
</p>

<p>
  <b> Exercicios: </b><br />
  <% @plano.exercicios.each do |ex| %>
    <%= ex.nome %> - <%= ex.maquina %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_user_plano_path(params[:user_id],@plano) %> |
<%= link_to 'Back', user_planos_path(params[:user_id]) %>
