<div class="mobile-content">
<h3> Plano de Treino </h3> </br>

<ul class = "mobile-list">
<li><p> <b>Data:</b> <%= @plano.data %> </p></li>
<li><p> <b>Altura:</b> <%= @plano.altura %> </p></li>
<li><p> <b>Peso:</b> <%= @plano.peso %> </p></li>
</ul>

<h3> Exercícios </h3> </br>
<h4> Aeróbicos </h4>

<table class="zebra-striped">
<tr>
    <th>Nome</th>
	<th>Máquina</th>
    <th>Nivel</th>
    <th>min.</th>
</tr>
<% @plano.exercicios.where(:tipo => "Aeróbico").each do |ex| %>
<% @dados = ExerciciosPlanos.where(:plano_id => @plano.id, :exercicio_id => ex.id).first %>
<tr>
	<td><%= ex.nome %></td> <td><%= ex.maquina %></td>
    <td><%= @dados.peso %></td><td><%= @dados.series %></td>
</tr>
<% end %>
</table>

<h4> Musculação </h4>

<table class="zebra-striped">
<tr>
    <th>Nome</th>
    <th>Máquina</th>
    <th>Peso</th>
    <th>Qtd</th>
</tr>
<% @plano.exercicios.where(:tipo => "Musculação").each do |ex| %>
<% @dados = ExerciciosPlanos.where(:plano_id => @plano.id, :exercicio_id => ex.id).first %>
<tr>
    <td><%= ex.nome %></td> <td><%= ex.maquina %></td>
    <td><%= @dados.peso %></td><td><%= @dados.series %>x(<%= @dados.repeticoes %>)</td>
</tr>
<% end %>
</table>


<%= link_to 'Voltar', user_planos_path(current_user), :class => "btn primary" %>