<%= form_for([@ginasio,@estudio]) do |f| %>
  <% if @estudio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estudio.errors.count, "error") %> prohibited this estudio from being saved:</h2>

      <ul>
      <% @estudio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :nome %>
    <div class="input">
      <%= f.text_field :nome, :class => "span4" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :lotacao, "Lotação" %>
    <div class="input">
      <%= f.number_field :lotacao, :class => "span2" %>
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= f.submit "Guardar", :class => "btn success" %>
<% end %>

