<h1>Listing estudios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Lotacao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estudios.each do |estudio| %>
  <tr>
    <td><%= estudio.nome %></td>
    <td><%= estudio.lotacao %></td>
    <td><%= link_to 'Show', ginasio_estudio_path(params[:ginasio_id],estudio) %></td>
    <td><%= link_to 'Edit', edit_ginasio_estudio_path(params[:ginasio_id],estudio) %></td>
    <td><%= link_to 'Destroy', ginasio_estudio_path(params[:ginasio_id],estudio), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estudio', new_ginasio_estudio_path %>
