<div class="span16">
  <h1>Ver Estúdio de Ginásio <%= @ginasio.nome %></h1>

  <div class="row spaced-lines">
    <div class="span4 right-align">
      <strong>Nome:</strong>
    </div>
    <div class="span8">
      <%= @estudio.nome %>
    </div>
  </div>

  <div class="row spaced-lines">
    <div class="span4 right-align">
      <strong>Lotação:</strong>
    </div>
    <div class="span8">
      <%= @estudio.lotacao %> lugares
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= link_to 'Editar', edit_ginasio_estudio_path(params[:ginasio_id],@estudio), :class => "btn success" %>
    <%= link_to 'Listar estudios', ginasio_estudios_path(params[:ginasio_id]), :class => "btn primary" %>
  </div>
</div>
