<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @estudio.nome %>
</p>

<p>
  <b>Lotacao:</b>
  <%= @estudio.lotacao %>
</p>


<%= link_to 'Edit', edit_ginasio_estudio_path(params[:ginasio_id],@estudio) %> |
<%= link_to 'Back', ginasio_estudios_path(params[:ginasio_id]) %>
