<% content_for :head do %>
<script type="text/javascript">
  $(document).ready(function() {
   
    $("#form_exercicio").validate( {
      rules: {
        "exercicio[nome]": "required",
        "exercicio[maquina]": "required",
      },
      messages: {
        "exercicio[nome]": "Introduza um nome válido (abdominais, bicicleta, etc.)",
        "exercicio[maquina]": "Introduza o nome da máquina."
      },

      // add/remove bootstrap error classes
      highlight: function (element, errorClass, validClass) {
        $(element).parents("div[class='clearfix']").addClass("error");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).parents(".error").removeClass("error");
      },
      errorElement: 'p'
    });
  });
</script>
<% end %>

<%= form_for(@exercicio, :html => { :id => "form_exercicio" }) do |f| %>

  <% if @exercicio.errors.any? %>
    <div class="alert-message block-message error">
      <p><strong>Oh snap!</strong> Alguns campos do formulário estão incorrectos.</p>

      <ul>
      <% @exercicio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :nome %>
    <div class="input">
      <%= f.text_field :nome %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :maquina %>
    <div class="input">
      <%= f.text_field :maquina %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :tipo %>
    <div class="input">
      <%= f.select(:tipo, options_for_select([['Aeróbico'],['Musculação']])) %>
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= f.submit :class => "btn success" %>
<% end %>

