<h1>Listing exercicios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Maquina</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercicios.each do |exercicio| %>
  <tr>
    <td><%= exercicio.nome %></td>
    <td><%= exercicio.maquina %></td>
    <td><%= exercicio.tipo %></td>
    <td><%= link_to 'Ver', exercicio %></td>
    <td><%= link_to 'Editar', edit_exercicio_path(exercicio) %></td>
    <td><%= link_to 'Apagar', exercicio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Exercício', new_exercicio_path %>
