<div class="span14">
  <h1>Lista de Exercícios</h1>

  <table>
    <tr>
      <th>Nome</th>
      <th>Maquina</th>
      <th>Tipo</th>
    </tr>

  <% @exercicios.each do |exercicio| %>
    <tr>
      <td><%= exercicio.nome %></td>
      <td><%= exercicio.maquina %></td>
      <td><%= exercicio.tipo %></td>
      <td><%= link_to 'Ver', exercicio %></td>
      <td><%= link_to 'Editar', edit_exercicio_path(exercicio) %></td>
      <td><%= link_to 'Apagar', exercicio, :confirm => "Tem a certeza que deseja apagar este exercício?", :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions topSpacing0">
    <%= link_to 'Novo Exercício', new_exercicio_path, :class => "btn primary" %>
  </div>
</div>

