<div id="profile">
<h1>Exercicio</h1>
<div id="info">
  <b>Nome:</b>
  <%= @exercicio.nome %><br />

  <b>Maquina:</b>
  <%= @exercicio.maquina %><br />

  <b>Tipo:</b>
  <%= @exercicio.tipo %><br />


<%= link_to 'Editar', edit_exercicio_path(@exercicio) %> |
<%= link_to 'Voltar', exercicios_path %>

</div>
</div>
