<div class="mobile-content">
<h3>Notificações gerais</h3>

<table class="zebra-striped">
	<% @notificacaos.each do |notificacao| %>
      <% if notificacao.ginasio_id == nil %>
      <tr>
        <td class="mobile">
		<%= link_to notificacao do %>
		<div class="mobile-cell">
			<p><%= notificacao.titulo %></p>
			<p class="mobile-description">por <%= link_to User.find(notificacao.admin_id).nome, user_path(notificacao.admin_id) %> em <%= notificacao.data %></p>
		</div>
		<% end %>
		</td>
      </tr>
      <% end %>
    <% end %>
</table>

<h3> Notificações do seu ginásio </h3>

<table class="zebra-striped">
    <% @notificacaos.each do |notificacao| %>
      <% if (current_user.normal? && notificacao.ginasio_id == current_user.ginasio_id) %>
      <tr>
        <td class="mobile">
		<%= link_to notificacao do %>
        <div class="mobile-cell">
			<p><%= notificacao.titulo %>
				<p class="mobile-description"> por <%= link_to User.find(notificacao.admin_id).nome, user_path(notificacao.admin_id) %> em <%= notificacao.data %></p>
			</p>
		</div>
		<% end %>
		</td>
      </tr>
      <% end %>
    <%end%>
</table>

<%= link_to 'Voltar', new_session_path, :class => "btn primary" %>

</div>