<div class="span14">
  <h1>Notificações gerais</h1>

  <table>
    <% @notificacaos.each do |notificacao| %>
      <% if notificacao.ginasio_id == nil %>
      <tr>
        <td class="span10"><%= link_to notificacao.titulo, notificacao %>
        <td>por <%= link_to User.find(notificacao.admin_id).nome, user_path(notificacao.admin_id) %> em <%= notificacao.data %></td>

        <% if can? :delete, Notificacao %>
        <td><%= link_to 'Apagar', notificacao, :confirm => 'Tem a certeza que deseja apagar esta notificação?', :method => :delete %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>

  <%if current_user.admin? || current_user.staff?%>
  	<h1>Notificações de ginásios</h1>
  <%else%>
	<h1>Notificações do seu ginásio</h1>
  <%end%>

	

  <table>
    <% @notificacaos.each do |notificacao| %>
      <% if (((current_user.admin? || current_user.staff?) && notificacao.ginasio_id != nil) || notificacao.ginasio_id == current_user.ginasio_id) %>
      <tr>
        <td><%= link_to notificacao.titulo, notificacao %>
 	
        <td>por <%= link_to User.find(notificacao.admin_id).nome, user_path(notificacao.admin_id) %> em <%= notificacao.data %></td>
	<%if current_user.admin? || current_user.staff?%>
		<td> no <%= Ginasio.find(notificacao.ginasio_id).nome %></td>
	<%end%>
        <% if can? :delete, Notificacao %>
        <td><%= link_to 'Apagar', notificacao, :confirm => 'Tem a certeza que deseja apagar esta notificação?', :method => :delete %></td>
        <% end %>
	
      </tr>
      <% end %>
    <%end%>
  </table>

  <div class="actions topSpacing0">
    <%= link_to 'Criar Notificação', new_notificacao_path, :class => "btn primary" unless !current_user.admin? %>
  </div>

</div>

