<h1>Notificação</h1>

<h3>
  <%= @notificacao.titulo %>
</h3>

<p>
  <% @notificacao.texto.split("\r\n").each do |line| %>
  <%= line %> <br/>
  <% end %>
</p>

<br/>

<p>
  <em>Criado por <%= User.find(@notificacao.admin_id).nome %> em <%= @notificacao.data %></em>
</p>

<div class="actions topSpacing0">
  <%= link_to 'Editar Notificação', edit_notificacao_path(@notificacao), :class => "btn primary" %>
  <%= link_to 'Voltar', notificacaos_path, :class => "btn" %>
</div>
