<div class="mobile-content">

<h3>Notificação</h3>
<h4><%= @notificacao.titulo %></h4>

<p>
    <% @notificacao.texto.split("\r\n").each do |line| %>
    <%= line %> <br/>
    <% end %>
</p>

<p class="mobile-description">
        <em>Criado por </em>
        <strong><%= link_to User.find(@notificacao.admin_id).nome, user_path(@notificacao.admin_id) %></strong>
        <em>em <%= @notificacao.data %> </em>
</p>

<%= link_to 'Voltar', notificacaos_path, :class => "btn primary" %>

</div>
