<div class="span14">
  <h1>Notificação</h1>
  <h3><%= @notificacao.titulo %></h3>

  <div class="row">
    <div class="span12">
      <div class="well">
        <p>
          <% @notificacao.texto.split("\r\n").each do |line| %>
          <%= line %> <br/>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <!--<p><em>Criado por <%= User.find(@notificacao.admin_id).nome %> em <%= @notificacao.data %></em></p>-->
      <p>
        <em>Criado por </em>
        <strong><%= link_to User.find(@notificacao.admin_id).nome, user_path(@notificacao.admin_id) %></strong>
        <em>em <%= @notificacao.data %> </em>
      </p>
    </div>
  </div>

  <div class="actions topSpacing0">
    <%= link_to 'Editar Notificação', edit_notificacao_path(@notificacao), :class => "btn primary" %>
    <%= link_to 'Voltar', notificacaos_path, :class => "btn" %>
  </div>

</div>

