<% content_for :head do %>

<script type="text/javascript">
  $(document).ready(function() {
   
    jQuery.validator.addMethod("exactLength", function(value, element, param) {
      return this.optional(element) || value.length == param;
    }, jQuery.format("Please enter exactly {0} characters."));

    jQuery.validator.addMethod("hourFormat", function(value, element, param) {
      if (this.optional(element))
        return true;

      var re = /^([01]?\d|2[0-3]):([0-5]\d)$/;
      return re.test(value) == param;
    }, "Enter the correct time.");

    $("#form_aula").validate( {
      rules: {
        "aula[inicio]": {
          required: true,
          hourFormat: true
        },
        "aula[duracao]": {
          required: true,
          range: [0,720]
        }
      },
      messages: {
        "aula[inicio]": "Introduza uma hora válida.",
        "aula[duracao]": "Introduza uma duração válida."
      },

      // add/remove bootstrap error classes
      highlight: function (element, errorClass, validClass) {
        $(element).parents("div[class='clearfix']").addClass("error");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).parents(".error").removeClass("error");
      },
      errorElement: 'p'
    });
  });
</script>
<% end %>

<%= form_for ([@ginasio,@aula], :html => { :id => "form_aula" }) do |f| %>

  <% if @aula.errors.any? %>
    <div class="alert-message error">
      <a href="#" class="close">x</a>
      <p><strong>Oh snap!</strong> Alguns campos do formulário estão incorrectos.</p>
    </div>

    <div class="error_messages">
      <ul>
        <% for message in @aula.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- le form fields -->
  <div class="clearfix">
    <%= f.label :Staff_id, 'Professor' %>
    <div class="input">
      <%= collection_select("aula", "staff_id", User.joins(:staffs).where(:ginasio_id => @ginasio.id), :id, :nome, {}, { :class => "span6 no-resize" }) %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :dia, 'Dia' %>
    <div class="input">
      <%= select("aula", "dia", [["Segunda",0], ["Terca",1], ["Quarta",2], ["Quinta", 3],
            ["Sexta",4], ["Sabado", 5], ["Domingo",6]], {}, { :class => "span2 no-resize" }) %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :inicio, 'Hora de Início' %>
    <div class="input">
      <%= f.text_field :inicio, :class => "span2" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :duracao, 'Duração (minutos)' %>
    <div class="input">
      <%= f.text_field :duracao, :class => "span1" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :tipo_aula_id, 'Modalidade' %>
    <div class="input">
      <%= collection_select("aula", "tipo_aula_id", TipoAula.all, :id, :tipo, {}, { :class => "span4 no-resize" }) %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :estudio_id, 'Sala' %>
    <div class="input">
      <%= collection_select("aula", "estudio_id", Estudio.where(:ginasio_id => @ginasio.id), :id, :nome, {}, { :class => "span4 no-resize" }) %>
    </div>
  </div>


  <div class="actions topSpacing0">
    <%= f.submit 'Guardar alterações', :class => "btn success" %>
<% end %>

