<div class="span14">

  <h1>Aulas de <%= @ginasio.nome %></h1>

  <!-- le schedule fixe -->
  <div class="span14">

    <% @dias_sorted.each do |d| %>

      <h3><%= Aula.getDia(d) %></h3>
      <div class="row">

        <table class="zebra-striped">
        <% @aulas_sorted[d].each do |aula| %>
          <tr>
            <td><%= TipoAula.find(aula.tipo_aula_id).tipo %></td>
            <td><%= Estudio.find(aula.estudio_id).nome %></td>
            <td>às <%= aula.inicio.to_s(:time) %></td>
            <td><%= aula.duracao %> minutos</td>
            <td><%= User.find(aula.staff_id).nome %></td>
            <td><%= link_to 'Ver marcacoes', ginasio_aula_reserva_aulas_path(params[:ginasio_id],aula.id)%> </td>

            
          </tr>
        <% end %>
        </table>

      </div>

      <div class="topSpacing2">
      </div>
    <% end %>
  </div>

  <div class="actions topSpacing1">
    <%= link_to 'Acrescentar aula', new_ginasio_aula_path, :class => "btn success" %>
    <%= link_to 'Ver Ginásio', ginasio_path(@ginasio.id), :class => "btn primary"%>
  </div>
</div>
