<div class="span14">
  <h1>Aula</h1>

  <h2>
    <%= TipoAula.find(@aula.tipo_aula_id).tipo %>
    - <%= Aula.getDia(@aula.dia) %>
    às <%= @aula.inicio.to_s(:time) %>
    (<%= @aula.duracao %> minutos)
  </h2>

 

  <h2>Avaliações</h2><p id="resposta"> </p>

   <% for i in 1..5 do %>

    <%= link_to_function image_tag("star.png"), "dar_feedback(\"#{root_url}\",\"#{current_user.token}\", #{@aula.id}, #{i})", :alt => i %>

  <% end %>

  </br>Aula : <%= Feedback.getFeedbackAula(@aula.id) %>
  </br>Professor : <%= Feedback.getFeedbackProf(@aula.staff_id) %>
  </br>Modalidade : <%= Feedback.getFeedbackModalidade(@aula.tipo_aula_id) %>

  <% if Date.today.wday == @aula.dia && !@aula.jaPassou %>
  <h3>
    <% estudio = Estudio.find(@aula.estudio_id) %>
    <%= estudio.nome %> - <%= estudio.lotacao %> lugares
    ( <%= ReservaAula.lugaresDisponiveis(@aula.id) %> disponíveis )
  </h3>
  <table class="zebra-striped">
    <tr>
      <th>Nome</th>
      <th>Data</th>
    </tr>

    <% @reservas.each do |reserva| %>
    
      <% if reserva.dia == Date.today %>
        <tr>
          <td><%= User.find(reserva.user_id).nome %></td>
          <td><%= reserva.dia %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions topSpacing1">
    <% if can?(:create,ReservaAula) %>
      <% if ReservaAula.jaMarcada(current_user.id, @aula.id) %>
        <%= link_to 'Cancelar', cancelarmarcacao_path(:user_id => current_user.id, :aula_id => @aula.id), :action => :destroy, :method => :delete, :class => "btn danger" %>
      <% else %>
        <%= link_to 'Marcar', reserva_aulas_path(:aula_id => @aula.id, :user_id => current_user.id, :dia => Date.today), :action => :create, :method => :post , :class => "btn success"%>
      <% end %>
    <% end %>
  </div>

  <% end %>

</div>

