<div class="mobile-content">
<h3>Aula de <%= TipoAula.find(@aula.tipo_aula_id).tipo %></h3>

  <h4>Informações</h4>
  
    <p><strong> Dia: </strong> <%= Aula.getDia(@aula.dia) %></p>
    <p><strong> Hora: </strong> <%= @aula.inicio.to_s(:time) %></p>
    <p><strong> Duração: </strong> <%= @aula.duracao %> minutos</p>
	<p><strong> Professor: </strong> <%= User.find(@aula.staff_id).nome %></p>
	<p><strong> Descrição: </strong> <%= TipoAula.find(@aula.tipo_aula_id).descricao %></p>

  <h4>Avaliações</h4>

   <% for i in 1..5 do %>
    <%= link_to_function image_tag("star.png"), "dar_feedback(\"#{root_url}\",\"#{current_user.token}\", #{@aula.id}, #{i})", :alt => i %>
   <% end %>

  </br>
  
  <strong> Aula : </strong>  <%= Feedback.getFeedbackAula(@aula.id) %> </br>
  <strong> Professor : </strong>  <%= Feedback.getFeedbackProf(@aula.staff_id) %> </br>
  <strong> Modalidade : </strong>  <%= Feedback.getFeedbackModalidade(@aula.tipo_aula_id) %>

  <% if Date.today.wday == @aula.dia && !@aula.jaPassou %>
  <p>
    <% estudio = Estudio.find(@aula.estudio_id) %>
    <%= estudio.nome %> - <%= estudio.lotacao %> lugares
    ( <%= ReservaAula.lugaresDisponiveis(@aula.id) %> disponíveis )
  </p>
  
  <table class="zebra-striped">
    <tr>
      <th>Nome</th>
      <th>Data</th>
    </tr>

    <% @reservas.each do |reserva| %>
    
      <% if reserva.dia == Date.today %>
        <tr>
          <td><%= User.find(reserva.user_id).nome %></td>
          <td><%= reserva.dia %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions topSpacing1">
    <% if can?(:create,ReservaAula) %>
      <% if ReservaAula.jaMarcada(current_user.id, @aula.id) %>
        <%= link_to 'Cancelar', cancelarmarcacao_path(:user_id => current_user.id, :aula_id => @aula.id), :action => :destroy, :method => :delete, :class => "btn danger" %>
      <% else %>
        <%= link_to 'Marcar', reserva_aulas_path(:aula_id => @aula.id, :user_id => current_user.id, :dia => Date.today), :action => :create, :method => :post , :class => "btn success"%>
      <% end %>
    <% end %>
  </div>

  <% end %>

  </br></br>
  <%= link_to 'Voltar', :back, :class => "btn primary" %>
  
</div>

