<% content_for :head do %>
<%= javascript_include_tag "validate-user-form.js" %>

<script type="text/javascript">
  $(document).ready(function() {

    jQuery.validator.addMethod("exactLength", function(value, element, param) {
      return this.optional(element) || value.length == param;
    }, jQuery.format("Please enter exactly {0} characters."));
  
    jQuery.validator.addMethod("passwordValidation", function(value, element, param) {
      if (this.optional(element))
        return true;

      var re = /^\w*(?=\w*\d)(?=\w*[a-z])(?=\w*[A-Z])\w*$/;
      return re.test(value) == param;
    }, "Your password must include uppercase, lowercase and digit characters");

    jQuery.validator.addMethod("ptTelephone", function(value, element, param) {
      if (this.optional(element))
        return true;

      var re = /^((\+351|00351|351)(\s{1})?)?(2\d{1}|(9(3|6|2|1)))\d{7}$/;
      return re.test(value) == param;
    }, "Not a portuguese telephone number");

    validateUserForm("#edit_user");
  });
</script>
<% end %>

<%= form_for @user, :html => { :id => "edit_user", :multipart => true } do |f| %>

  <!-- le error messages header TODO -->
  <% if @user.errors.any? %>
    <div class="alert-message error">
      <p>
        <strong>Oh snap! O formulário tem alguns erros.</strong>
        Veja aquilo que tem de mudar:
      </p>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- le form fields -->
  <div class="clearfix">
    <%= f.label :nome %>
    <div class="input">
      <%= f.text_field :nome, :class => "span7" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :datanascimento, "Data de Nascimento" %>
    <div class="input">
      <%= f.text_field :datanascimento, :class => "span2" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :telefone %>
    <div class="input">
      <%= f.text_field :telefone, :class => "span2" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :morada %>
    <div class="input">
      <%= f.text_area :morada, { :rows => 5, :class => "span6 no-resize" } %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :ginasio_id, 'Ginasio' %>
    <div class="input">
      <%= collection_select("user", "ginasio_id", Ginasio.all, :id, :nome, {}, {  :class => "span6 no-resize" }) %>
    </div>
  </div>

  <% if @user.normal? %>
    <div class="clearfix">
      <%= f.label :modalidade_pagamento_id, 'Frequencia' %>
      <div class="input">
        <%= collection_select("user", "modalidade_pagamento_id", ModalidadePagamento.all, :id, :nome, {}, {  :class => "span6 no-resize" }) %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Fotografia"  %>
    <div class="input">
      <%= file_field_tag :filename %>
    </div>
  </div>

  <div class="actions topSpacing0">
    <%= f.submit 'Guardar alterações', :class => "btn success" %>
    <%= link_to 'Cancelar', users_path, :class => "btn danger" %>
  </div>
<% end %>

