<%= form_for (@user, :html => { :id => "edit_user", :multipart => true }) do |f| %>

  <!-- le error messages header -->
  <% if @user.errors.any? %>
    <div class="alert-message error">
      <a href="#" class="close">x</a>
      <p><strong>Oh snap!</strong> Alguns campos do formulário estão incorrectos.</p>
    </div>

    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- le form fields -->
  <div class="clearfix">
    <%= f.label :nome %>
    <div class="input">
      <%= f.text_field :nome, :class => "span7" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :datanascimento, "Data de Nascimento" %>
    <div class="input">
      <%= f.text_field :datanascimento, :class => "span2" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :telefone %>
    <div class="input">
      <%= f.text_field :telefone, :class => "span2" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :morada %>
    <div class="input">
      <%= f.text_field :morada, :class => "span7"%>
    </div>
  </div>

  <div class="field">
    <%= f.label :foto %>
    <div class="input">
      <%= f.file_field :avatar %>
    </div>
  </div>

  <div class="actions topSpacing0">
    <%= f.submit 'Guardar alterações', :class => "btn success" %>
    <%= link_to 'Cancelar', users_path, :class => "btn danger" %>
  </div>
<% end %>

