<%= form_for @user, :html => { :id => "edit_user", :multipart => true } do |f| %>

  <!-- le error messages header TODO -->
  <% if @user.errors.any? %>
    <div class="alert-message error">
      <a href="#" class="close">x</a>
      <p><strong>Oh snap!</strong> Alguns campos do formulário estão incorrectos.</p>
    </div>

    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- le form fields -->
   <div class="clearfix">
    <%= label :password_antiga, 'Password Antiga' %>
    <div class="input">
      <%= password_field_tag :password_antiga %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation, "Confirmar Password" %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions topSpacing0">
    <%= f.submit 'Guardar alterações', :class => "btn success" %>
    <%= link_to 'Cancelar', users_path, :class => "btn danger" %>
  </div>
<% end %>

