<div class="span16">
  <% if current_user && @users.count > 0 %>
  <h1>Utilizadores</h1>

  <table class="zebra-striped">
    <tr>
      <th>Nr.</th>
      <th>Nome</th>
      <th>Tipo</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.nome %></td>

      <% if user.admin? %>
      <td> Administrador </td>
      <% elsif user.staff? %>
      <td> Staff </td>
      <% else %>
      <td> Normal </td>
      <% end %>

      <td><%= link_to 'Ver', user %></td>

      <td>
        <% if (user.normal? || user.staff?) && current_user.admin? %>
        <%= link_to 'Apagar', user, :confirm => 'Tem a certeza que deseja apagar este utilizador?', :method => :delete %>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>
  <% end %>

  <% if can? :create, User %>
  <div class="actions topSpacing0">
    <%= link_to 'Registar Novo Utilizador', new_user_path, :class => "btn primary" %>
  </div>
  <% end %>
</div>

