<div class="mobile-content">

	<h3>Perfil</h3>

	<% if @user.url_foto %>
		<%= image_tag @user.get_foto, :id => "profile-photo", :class => "mobile-image" %>
	<% else %>
		<%= image_tag "missing.png", :id => "profile-photo", :class => "mobile-image" %>
	<% end %>

	<ul class = "mobile-list">
	<li><p> <b>Nome:</b> <%= @user.nome %></p></li>
	<li><p> <b>Ginásio:</b> <%= Ginasio.find(@user.ginasio_id).nome %></p></li>
	<li><p> <b>Email:</b> <%= @user.email %></p></li>
	<li><p> <b>Data de Nascimento:</b> <%= @user.datanascimento %></p></li>
	<li><p> <b>Telefone:</b> <%= @user.telefone %></p></li>
	<li><p> <b>Morada:</b> <%= @user.morada %></p></li>
	</ul>
	
	<%= link_to 'Voltar', new_session_path, :class => "btn primary" %>
	<%= link_to 'Planos de Treino', user_planos_path(@user), :class=> "btn success" %>
	<%= link_to 'Planos Alimentares', user_alimentar_planos_path(@user), :class => "btn success"%> 
	<%= link_to 'Pagamentos', user_pagamentos_path(@user, :ano => Time.now.year), :class => "btn danger"%>
	
</div>

