
<div id="profile">
<h1>Perfil</h1>
<div id="info">

  <!-- <%= image_tag @user.avatar.url(:small) %> -->
  <div class="profileBox">
    <span>Nome:</span>
    <%= @user.nome %>
  </div>

  <div class="profileBox">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

  <p>
    <strong>Data de Nascimento:</strong>
    <%= @user.datanascimento %>
  </p>

  <b>Telefone:</b>
  <%= @user.telefone %><br />

  <b>Morada:</b>
  <%= @user.morada %><br />

<% if current_user.admin? && current_user.id != @user.id %>
  <% if !@user.admin? %>
     <%= link_to "Promover", :controller => "users", :action => "promote", :id => @user %>
     |
  <% end %>

<% if !@user.normal? %>
  <%= link_to "Despromover", :controller => "users", :action => "demote", :id => @user %>
  |
  <% end %>
<% end %>

<% if @user.normal? %>
  <%= link_to "Planos", user_planos_path(@user) %>
  |
<% end %>

<%= link_to "Editar", edit_user_path(@user) %>
</div>
</div>

