<p id="notice"><%= notice %></p>

<ul class = "rounded">
<li><p class = "normal">
  <b>Nome:</b>
  <%= @user.nome %>
</p></li>

<li><p class = "normal">
  <b>Ginásio:</b>
  <%= Ginasio.find(@user.ginasio_id).nome %>
</p></li>

<li><p class = "normal">
  <b>Email:</b>
  <%= @user.email %>
</p></li>

<li><p class = "normal">
  <b>Data de Nascimento:</b>
  <%= @user.datanascimento %>
</p></li>

<li><p class = "normal">
  <b>Telefone:</b>
  <%= @user.telefone %>
</p></li>

<li><p class = "normal">
  <b>Morada:</b>
  <%= @user.morada %>
</p></li>
</ul>

<ul><li class="arrow"><%= link_to "Planos", user_planos_path(@user) %></li></ul>

