
<div id="profile">
<h1>Perfil</h1>
<div id="info">
  <b>Nome:</b>
  <%= @user.nome %><br />

  <b>Email:</b>
  <%= @user.email %><br />

  <b>Data de Nascimento:</b>
  <%= @user.datanascimento %><br />

  <b>Telefone:</b>
  <%= @user.telefone %><br />

  <b>Morada:</b>
  <%= @user.morada %><br />

<% if current_user.admin? && current_user.id != @user.id %>
<%= link_to "Promover", :controller => "users", :action => "promote", :id => @user %> |
<%= link_to "Despromover", :controller => "users", :action => "demote", :id => @user %> |
<% end %>

<% if @user.normal? %>
<%= link_to "Planos", user_planos_path(@user) %> |
<% end %>
<%= link_to "Editar", edit_user_path(@user) %>
</div>
</div>

