<div class="span16">
  <h1>Perfil</h1>

  <!-- profile content -->
  <div class="row spaced-lines">
    <div class="span9">

      <div class="row">
        <div class="span3 right-align"><strong>Nome:</strong></div>
        <div class="span6"><%= @user.nome %></div>
      </div>

      <div class="row">
        <div class="span3 right-align"><strong>Ginásio:</strong></div>
        <div class="span6"><%= @user.ginasio.nome unless @user.ginasio_id == nil%></div>
      </div>

      <% if @user.normal? %>
        <div class="row">
          <div class="span3 right-align"><strong>Frequencia:</strong></div>
          <div class="span6"><%= @user.modalidade_pagamento.nome unless @user.ginasio_id == nil%></div>
        </div>
      <% end %>

      <div class="row">
        <div class="span3 right-align"><strong>Email:</strong></div>
        <div class="span6"><%= @user.email %></div>
      </div>

      <div class="row">
        <div class="span3 right-align"><strong>Data de Nascimento:</strong></div>
        <div class="span6"><%= @user.datanascimento %></div>
      </div>

      <div class="row">
        <div class="span3 right-align"><strong>Telefone:</strong></div>
        <div class="span6"><%= @user.telefone %></div>
      </div>

      <div class="row">
        <div class="span3 right-align"><strong>Morada:</strong></div>
        <div class="span6">
          <address>
            <% @user.morada.split("\r\n").each do |line| %>
            <%= line %><br/>
            <% end %>
          </address>
        </div>
      </div>
    </div>

    <div class="span3">
      <% if @user.url_foto %>
        <%= image_tag @user.get_foto, :id => "profile-photo" %>
      <% else %>
        <%= image_tag "missing.png", :id => "profile-photo" %>
      <% end %>
    </div>
  </div>

  <!-- le action buttons -->
  <div class="actions topSpacing0">
    <% if current_user.admin? && current_user.id != @user.id %>
      <% if !@user.admin? %>
        <%= link_to "Promover", { :controller => "users" , :action => "promote", :id => @user}, :class => "btn success" %>
      <% end %>

      <% if !@user.normal? %>
        <%= link_to "Despromover", { :controller => "users" , :action => "demote", :id => @user}, :class => "btn danger" %>
      <% end %>
    <% end %>

    <% if @user.normal? %>
      <%= link_to "Ver Planos", user_planos_path(@user), :class => "btn" %>
    <% end %>

    <%= link_to "Editar Perfil", edit_user_path(@user), :class => "btn primary" %>
    <%= link_to "Alterar password", mudarpassword_path(@user), :class => "btn primary" %>
    <%= link_to "Listar utilizadores", users_path, :class => "btn" unless current_user.normal?%>
  </div>
</div>

