<% content_for :head do %>
<%= javascript_include_tag "validate-user-form.js" %>

<script type="text/javascript">
  $(document).ready(function() {

    jQuery.validator.addMethod("exactLength", function(value, element, param) {
      return this.optional(element) || value.length == param;
    }, jQuery.format("Please enter exactly {0} characters."));


  });
</script>
<% end %>

<%= form_for([@user,@alimentar_plano], :html => { :id => "form_planoalimentar"} ) do |f| %>
  <% if @alimentar_plano.errors.any? %>
    <div class="alert-message block-message error">
      <p>
        <strong>Oh snap! O formulário tem alguns erros.</strong>
        Veja aquilo que tem de mudar:
      </p>

      <ul>
      <% @alimentar_plano.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :data %>
    <div class="input">
      <%= f.text_field :data, :class => "span2" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label "Pequeno Almoço" %>
    <div class="input">
      <%= f.text_area :pequenoalmoco %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label "Manhã" %>
    <div class="input">
      <%= f.text_area :manha %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label "Almoço" %>
    <div class="input">
      <%= f.text_area :almoco %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :tarde %>
    <div class="input">
      <%= f.text_area :tarde %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :jantar %>
    <div class="input">
      <%= f.text_area :jantar %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :ceia %>
    <div class="input">
      <%= f.text_area :ceia %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Guardar", :class => "btn success" %>

<% end %>
