<% content_for :head do %>
<%= javascript_include_tag "validate-user-form.js" %>

<script type="text/javascript">
  $(document).ready(function() {

    jQuery.validator.addMethod("exactLength", function(value, element, param) {
      return this.optional(element) || value.length == param;
    }, jQuery.format("Please enter exactly {0} characters."));


  });
</script>
<% end %>

<%= form_for([@user,@alimentar_plano], :html => { :id => "form_planoalimentar"} ) do |f| %>
  <% if @alimentar_plano.errors.any? %>
    <div class="alert-message block-message error">
      <p>
        <strong>Oh snap! O formulário tem alguns erros.</strong>
        Veja aquilo que tem de mudar:
      </p>

      <ul>
      <% @alimentar_plano.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <label for="data"><strong>Data:</strong> </label>
    <div class="input">
      <%= f.text_field :data, :class => "span2", :disabled => true %>
    </div>
  </div>

  <div class="row topSpacing1">
    <div class="clearfix">
      <%= f.label :pequenoalmoco, "Pequeno Almoço" %>
      <div class="input">
        <%= f.text_area :pequenoalmoco, { :rows => 6, :class => "span10 no-resize" } %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :manha, "Manhã" %>
      <div class="input">
        <%= f.text_area :manha, { :rows => 6, :class => "span10 no-resize" } %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :almoco, "Almoço" %>
      <div class="input">
        <%= f.text_area :almoco, { :rows => 6, :class => "span10 no-resize" } %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :tarde %>
      <div class="input">
        <%= f.text_area :tarde, { :rows => 6, :class => "span10 no-resize" } %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :jantar %>
      <div class="input">
        <%= f.text_area :jantar, { :rows => 6, :class => "span10 no-resize" } %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :ceia %>
      <div class="input">
        <%= f.text_area :ceia, { :rows => 6, :class => "span10 no-resize" } %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Guardar", :class => "btn success" %>

<% end %>
