<div class="span14">
  <h1>Planos Alimentares</h1>

  <div class="row spaced-lines">
    <div class="row">
      <div class="span3 right-align"><strong>Utilizador:</strong></div>
      <div class="span8"><%= @user.nome %></div>
    </div>

    <div class="row">
      <div class="span3 right-align"><strong>Ginásio:</strong></div>
      <div class="span8"><%= @user.ginasio.nome %></div>
    </div>
  </div>

  <table class="zebra-striped topSpacing1">
    <tr>
      <th>Data</th>
      <th></th>
      <th></th>
    </tr>

    <% if @alimentar_planos.empty? %>
      <tr>
        <td colspan="10">&lt;Utilizador não tem planos alimentares.&gt;</td>
      </tr>
    <% else %>
      <% @alimentar_planos.each do |alimentar_plano| %>
      <tr>
        <td><%= link_to alimentar_plano.data, user_alimentar_plano_path(@user,alimentar_plano) %></td>
        <td><%= link_to 'Editar', edit_user_alimentar_plano_path(@user,alimentar_plano) %></td>
        <td><%= link_to 'Apagar', user_alimentar_plano_path(@user,alimentar_plano), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
      <% end %>
    <% end %>

  </table>

  <div class="actions topSpacing0">
    <%= link_to 'Novo Plano Alimentar', new_user_alimentar_plano_path, :class => "btn success" %>
  </div>
</div>

