<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @alimentar_plano.data %>
</p>

<p>
  <b>Pequenoalmoco:</b>
  <%= @alimentar_plano.pequenoalmoco %>
</p>

<p>
  <b>Manha:</b>
  <%= @alimentar_plano.manha %>
</p>

<p>
  <b>Almoco:</b>
  <%= @alimentar_plano.almoco %>
</p>

<p>
  <b>Tarde:</b>
  <%= @alimentar_plano.tarde %>
</p>

<p>
  <b>Jantar:</b>
  <%= @alimentar_plano.jantar %>
</p>

<p>
  <b>Ceia:</b>
  <%= @alimentar_plano.ceia %>
</p>


<%= link_to 'Edit', edit_user_alimentar_plano_path(@user,@alimentar_plano) %> |
<%= link_to 'Back', user_alimentar_planos_path(@user) %>
