<div class="span14">
  <h1>Plano Alimentar nº <%= @alimentar_plano.id %></h1>

  <div class="row spaced-lines">

    <!-- le dados importantes, para usabilidade -->
    <div class="row">
      <div class="span3 right-align"><strong>Utilizador:</strong></div>
      <div class="span8"><%= @user.nome %></div>
    </div>

    <div class="row">
      <div class="span3 right-align"><strong>Ginásio:</strong></div>
      <div class="span8"><%= @user.ginasio.nome %></div>
    </div>

    <div class="row">
      <div class="span3 right-align"><strong>Data do Plano Alimentar:</strong></div>
      <div class="span8"><%= @alimentar_plano.data %></div>
    </div>

  </div>

  <div class="row spaced-lines topSpacing2">
    <!-- le campos do plano -->
    <div class="plano-item">
      <p><strong>Pequeno Almoço:</strong></p>
      <p><%= @alimentar_plano.pequenoalmoco %> </p>
    </div>

    <div class="plano-item">
      <p><strong>Manhã:</strong></p>
      <p> <%= @alimentar_plano.manha %> </p>
    </div>

    <div class="plano-item">
      <p><strong>Almoço:</strong></p>
      <p> <%= @alimentar_plano.almoco %> </p>
    </div>

    <div class="plano-item">
      <p><strong>Tarde:</strong></p>
      <p> <%= @alimentar_plano.tarde %> </p>
    </div>

    <div class="plano-item">
      <p><strong>Jantar:</strong></p>
      <p> <%= @alimentar_plano.jantar %> </p>
    </div>

    <div class="plano-item">
      <p><strong>Ceia:</strong></p>
      <p> <%= @alimentar_plano.ceia %> </p>
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= link_to 'Editar Plano Alimentar', edit_user_alimentar_plano_path(@user,@alimentar_plano), :class => "btn success" %>
    <%= link_to 'Voltar a Lista de Planos', user_alimentar_planos_path(@user), :class => "btn primary" %>
  </div>
</div>

