<div class="span16">
  <h1>Plano Alimentar nº <%= @alimentar_plano.id %></h1>

  <div class="row spaced-lines">

    <!-- le dados importantes, para usabilidade -->
    <div class="row">
      <div class="span4 right-align"><strong>Utilizador:</strong></div>
      <div class="span8"><%= @user.nome %></div>
    </div>

    <div class="row">
      <div class="span4 right-align"><strong>Ginásio:</strong></div>
      <div class="span8"><%= @user.ginasio.nome %></div>
    </div>

    <div class="row">
      <div class="span4 right-align"><strong>Data do Plano Alimentar:</strong></div>
      <div class="span8"><%= @alimentar_plano.data %></div>
    </div>

  </div>

  <div class="row topSpacing1">
    <!-- le campos do plano -->
    <div class="span8">
      <strong>Pequeno Almoço:</strong>
      <div class="plano-item">
        <p>
          <% @alimentar_plano.pequenoalmoco.split("\r\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
      </div>
    </div>

    <div class="span8">
      <strong>Manhã:</strong>
      <div class="plano-item">
        <p>
          <% @alimentar_plano.manha.split("\r\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
      </div>
    </div>

  </div>

  <div class="row topSpacing2">
    <div class="span8">
      <strong>Almoço:</strong>
      <div class="plano-item">
        <p>
          <% @alimentar_plano.almoco.split("\r\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
      </div>
    </div>

    <div class="span8">
      <strong>Tarde:</strong>
      <div class="plano-item">
        <p>
          <% @alimentar_plano.tarde.split("\r\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="row topSpacing2">
    <div class="span8">
      <strong>Jantar:</strong>
      <div class="plano-item">
        <p>
          <% @alimentar_plano.jantar.split("\r\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
      </div>
    </div>

    <div class="span8">
      <strong>Ceia:</strong>
      <div class="plano-item">
        <p>
          <% @alimentar_plano.ceia.split("\r\n").each do |line| %>
          <%= line %><br/>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= link_to 'Editar Plano Alimentar', edit_user_alimentar_plano_path(@user,@alimentar_plano), :class => "btn success" %>
    <%= link_to 'Voltar a Lista de Planos', user_alimentar_planos_path(@user), :class => "btn primary" %>
  </div>
</div>

