<% content_for :head do %>
<script type="text/javascript">
  $(document).ready(function() {
   
    $("#form_modalidade").validate( {
      rules: {
        "tipo_aula[tipo]": "required",
        "tipo_aula[descricao]": {
          required: true,
          minlength: 2,
        }
      },
      messages: {
        "tipo_aula[tipo]": "Introduza um nome válido (ciclismo, pesos, etc.)",
        "tipo_aula[descricao]": "Introduza uma descrição válida."
      },

      // add/remove bootstrap error classes
      highlight: function (element, errorClass, validClass) {
        $(element).parents("div[class='clearfix']").addClass("error");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).parents(".error").removeClass("error");
      },
      errorElement: 'p'
    });
  });
</script>
<% end %>

<%= form_for(@tipo_aula, :html => { :id => "form_modalidade" }) do |f| %>
  <% if @tipo_aula.errors.any? %>
    <div class="alert-message block-message error">
      <p>
        <strong>Oh snap! O formulário tem alguns erros.</strong>
        Veja aquilo que tem de mudar:
      </p>
      <ul>
      <% @tipo_aula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :tipo %>
    <div class="input">
      <%= f.text_field :tipo, :class => "span6" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :video_id, 'Video:' %>
    <div class="input">
      <%= f.text_field :video_id, :class => "span6" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :descricao, "Descrição" %>
    <div class="input">
      <%= f.text_area :descricao, { :rows => 8, :class => "span11 no-resize" } %>
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= f.submit "Guardar", :class => "btn success" %>
    <%= link_to "Ver Modalidades", @tipo_aula, :class => "btn primary" %>
    <%= link_to "Cancelar", tipo_aulas_path, :class => "btn danger" %>
<% end %>
