<div class="span14">

  <h1>Modalidade</h1>
  <h3> <%= @tipo_aula.tipo %> </h3>

  <br/>

  <p> <strong>Descrição:</strong> </p>
  <p> <%= @tipo_aula.descricao %> </p>

  <div class="actions topSpacing1">
    <%= link_to 'Editar', edit_tipo_aula_path(@tipo_aula), :class => "btn success" %>
    <%= link_to 'Apagar', @tipo_aula, :confirm => 'Tem a certeza?', :method => :delete, :class => "btn danger" %>
    <%= link_to 'Voltar a modalidades', tipo_aulas_path, :class => "btn primary" %>
  </div>
</div>
