<% content_for :head do %>

<script type="text/javascript">
  $(document).ready(function() {
   
    jQuery.validator.addMethod("exactLength", function(value, element, param) {
      return this.optional(element) || value.length == param;
    }, jQuery.format("Please enter exactly {0} characters."));

    $("#form_ginasio").validate( {
      rules: {
        "ginasio[nome]": {
          required: true,
          minlength: 2
        },
        "ginasio[telefone]": {
          required: true,
          digits: true,
          exactLength: 9
        },
        "ginasio[morada]": "required",
      },
      messages: {
        "ginasio[nome]": "O nome não pode estar em branco",
        "ginasio[telefone]": "Introduza o contacto do ginásio",
        "ginasio[morada]": "Introduza uma morada válida",
      },

      // add/remove bootstrap error classes
      highlight: function (element, errorClass, validClass) {
        $(element).parents("div[class='clearfix']").addClass("error");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).parents(".error").removeClass("error");
      },
      errorElement: 'p'
    });
  });
</script>
<% end %>

<%= form_for(@ginasio, :html => { :id => "form_ginasio" }) do |f| %>
  <% if @ginasio.errors.any? %>
    <div class="alert-message block-message error">
      <p><strong>Oh snap!</strong> Alguns campos do formulário estão incorrectos.</p>

      <ul>
      <% @ginasio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :nome %>
    <div class="input">
      <%= f.text_field :nome, :class => "span4" %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :telefone %>
    <div class="input">
      <%= f.text_field :telefone, :class => "span4" %>
    </div>
  </div>
	
  <div class="clearfix">
    <%= f.label :morada %>
    <div class="input">
      <%= f.text_area :morada, { :rows => 5, :class => "span6 no-resize" } %>
    </div>
  </div>

  <div class="actions topSpacing1">
    <%= f.submit "Guardar", :class => "btn success" %>
<% end %>
