<div class="span14">
  <h1><%=@ginasio.nome%></h1>

  <div class="row">
    <div class="span6">
      <p>
        <strong> Morada:</strong>
        <%= @ginasio.morada %>
      </p>
      <p>
        <strong> Telefone:</strong>
        <%= @ginasio.telefone %>
      </p>

      <p>
        <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@ginasio.latitude},#{@ginasio.longitude}&zoom=15&size=400x300\
&markers=color:blue%7C#{@ginasio.latitude},#{@ginasio.longitude}&sensor=false" %>
      </p>
    </div>
  </div>

  <div class="actions topSpacing2">
    <div class = "row">
        <%= link_to 'Editar Dados', edit_ginasio_path(@ginasio), :class => "btn success" if can? :update, Ginasio %>
        <%= link_to 'Ver Estatisticas', ginasio_estatisticas_path(@ginasio), :class => "btn success" if current_user.admin?%>
        <%= link_to 'Ver Utilizadores do Ginásio', ginasio_users_path(@ginasio), :class => "btn primary" if can? :read, User %>
    </div>
    </br>
    <div class = "row">
        <%= link_to 'Ver Aulas', ginasio_aulas_path(@ginasio), :class => "btn primary" %>
        <%= link_to 'Ver Estúdios', ginasio_estudios_path(@ginasio), :class => "btn primary" %>
        <%= link_to 'Ver Ginásios', ginasios_path, :class => "btn danger" %>
    </div>
  </div>
</div>

