<div class="span16">
  <h1>Pagamentos</h1>

  <div class="row topSpacing2">
    <div class="span2">
      <%if params[:user_id]%>
        Ano (yyyy):
      <%else%>
        Data (mm/yyyy):
      <%end%>
    </div>
    

    <div class="span3">
      <% if !params[:user_id] %>
        <%= text_field_tag :mes, params[:mes], :id => "mes", :class => "span1" %> /
      <% end %>

      <%= text_field_tag :ano, params[:ano], :id => "ano", :class => "span1" %> 
      </div>
    <%= link_to "Ver Pagamentos", pagamentos_path(:ano => params[:ano], :mes => params[:mes]), :id => "link_ver", :class =>"btn primary" unless params[:user_id]%>
    <%= link_to "Ver Pagamentos", user_pagamentos_path(params[:user_id], :ano => params[:ano]), :id => "link_ver", :class =>"btn primary" if params[:user_id]%>
  </div>

  <table class="zebra-striped topSpacing1">
    <tr>

      <% if !params[:user_id] %>
        <th> Nome </th>
      <% end %>
      <th> Tipo Frequência </th>
      <th> Mensalidade </th>
      <th> Pago </th>
    </tr>

    <% if @pagamentos.empty? %>
    <tr>
      <td colspan="4"> &lt; Sem pagamentos para mostrar. &gt; </td>
    </tr>
    <% else %>
      <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%= pagamento.modalidade_pagamento.nome if pagamento.modalidade_pagamento_id%></td>
        <td><%= pagamento.preco %></td>

        <% if pagamento.pago %>
          <td>Sim</td>
          <td><%= link_to "Anular", cancelarpagamento_path(:user_id => params[:user_id],:pagamento_id => pagamento.id), :class => "btn danger span2 center-align" if can?(:create, Pagamento) %></td>
        <% else%>
          <td> Não </td>
          <td><%= link_to "Confirmar", confirmarpagamento_path(:user_id => params[:user_id],:pagamento_id => pagamento.id), :class => "btn success span2 center-align" if can?(:create, Pagamento) %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>

  <div class="actions topSpacing1">
    <%= link_to 'Voltar ao perfil', users_path(params[:user_id]), :class => "btn danger" if params[:user_id]%>
    <%= link_to 'Voltar aos pagamentos', pagamentos_path, :class => "btn danger" unless params[:user_id]%>
  </div>
</div>

