<h1> Pagamentos </h1>



<div class="row">
	<div class="span6">
		<%= link_to "Ver", pagamentos_path, :id => "link_ver", :class =>"btn primary" %>
		
		<% if !params[:user_id] %>
			<%= text_field_tag :mes, params[:mes], :id => "mes", :class => "span1 no-resize" %> /
		<% end %>
		<%= text_field_tag :ano, params[:ano], :id => "ano", :class => "span1 no-resize" %> 
	</div>
</div>

<table>
	
	<th> Nome </th>
	<th> Tipo Frequência </th>
	<th> Mensalidade </th>
	<th> Pago </th>

	<% @pagamentos.each do |pagamento| %>
		
		<tr>
			<td><%= link_to pagamento.user.nome, pagamento.user %></td>
			<td><%= pagamento.modalidade_pagamento.nome %></td>
			<td><%= pagamento.preco %></td>
			<% if pagamento.pago && !current_user.normal? %>
				<td>Sim</td>
				<td><%= link_to "Anular", cancelarpagamento_path(:user_id => params[:user_id],:pagamento_id => pagamento.id), :class => "btn danger" %></td>
			<% elsif !current_user.normal? %>
				<td> Não </td>
				<td><%= link_to "Confirmar", confirmarpagamento_path(:user_id => params[:user_id],:pagamento_id => pagamento.id), :class => "btn success" %></td>
			<% end %>

		</tr>

	<% end %>
</table>
