<div class="mobile-content">
  <h3>Pagamentos</h3>

  <table class="zebra-striped topSpacing1">
    <tr>
      <th> Mensalidade </th>
      <th> Tipo Frequência </th>
      <th> Valor </th>
      <th> Pago </th>
    </tr>

    <% if @pagamentos.empty? %>
    <tr>
      <td colspan="10"> &lt; Sem pagamentos para mostrar. &gt; </td>
    </tr>
    <% else %>
      <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%= ["","Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
		"Julho", "Agosto","Setembro", "Outubro", "Novembro", "Dezembro"][pagamento.mes]%> <%= pagamento.ano %></td>
        <td><%= pagamento.modalidade_pagamento.nome if pagamento.modalidade_pagamento_id%></td>
        <td><%= pagamento.preco %> €</td>

        <% if pagamento.pago%>
          <td>Sim</td>
        <% else %>
          <td> Não </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>
  
  <%= link_to 'Voltar', :back, :class => "btn primary" %>
  
</div>

