
<% if current_user.admin? %>
<h1>Estatisticas - <%= @ginasio.nome %> </h1>

<table>

	<tr>
		<th>Mes: <%= text_field_tag :mes, Date.today.month, :id => "mes", :class => "span1" %></th>

		<th>Ano: <%= text_field_tag :ano, Date.today.year, :id => "ano", :class => "span1" %></th>

		<th>Modalidade: 
		<%= collection_select("", "taid", TipoAula.all, :id, :tipo, {}, {  :class => "span4 no-resize" }) %></th>

		<th>Tipo de Estatistica
		<%= select_tag(:tipo, options_for_select([['Modalidade/Dia da Semana',0],['Reservas/Modalidade',1],
												['Reservas/Professor(por Modalidade)',2],
												['Aulas/Professor (por modalidade)',3],
												['Reservas/Mes',4]]), :id => "tipo_estatistica",
												:class =>"span5 no-resize") %></th>
	</tr>
									
</table>

<div id = "estatisticas" class ="topSpacing2">

    <%= image_tag "http://placehold.it/330x230", :class => "centered-image", :id => "imagem_estatistica" %>

</div>

<div class="actions topSpacing1">
    <%= link_to 'Voltar ao ginasio', ginasio_aulas_path(params[:ginasio_id]), :class => "btn danger" %>
</div>
<% else %>
<h1> Não tem acesso a esta página </h1>
<% end %>
