<div class="row">
  <%= text_field_tag :mes, Date.today.month, :id => "mes", :class => "span1" %> /

  <%= text_field_tag :ano, Date.today.year, :id => "ano", :class => "span1" %>

  <%= collection_select("", "taid", TipoAula.all, :id, :tipo, {}, {  :class => "span6 no-resize" }) %>
</div>




<div id = "estatisticas">
<%= image_tag "http://placehold.it/330x230", :id => "modalidade" %>
<%= image_tag "http://placehold.it/330x230", :id => "modalidade_semana" %>
<%= image_tag "http://placehold.it/330x230", :id => "modalidade_professor" %>
<%= image_tag "http://placehold.it/330x230", :id => "aulas_professor" %>
<%= image_tag "http://placehold.it/330x230", :id => "total_ginasio" %>
</br></br></br></br></br>


</div>
