<!DOCTYPE html>
<html>
<head>
  <title>Fit</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "aplication.js", "controls.js", "dragdrop.js", "efects.js", "prototype.js", "jquery.js", "rails.js", "utils.js", "menu.js", "jquery.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
	<div id="header-top">
		<%= image_tag "logo.png" %>
	

    <div id="login"> 

      <% if current_user %>
        Logged in as <%= current_user.nome %>.
        <% if is_admin? %>
          <%= link_to "Sign up", sign_up_path %> or
        <% end %>
        <%= link_to "Log out", log_out_path %>
      <% end %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= render :partial => '/sessions/form' unless current_user %>

    </div>
  </div>

	<div id="header-bar"></div>

</div>

<div id="navigation">
        
        <div id="sidebar">     
        	<ul>
		        <li> Home </li>
		        <li> News </li>
		        <li> Ginásios </li>
		        <li> Aulas
		        	<ul>
		            	<li> <%= link_to "Horários", root_path %> </li>
		            	<li> <%= link_to "Modalidades", root_path %> </li>
		            </ul>
		        </li>
		        <li> Conta Pessoal
		        	<ul>
		            	<li> <%= link_to "Perfil", root_path %> </li>
		            	<li> <%= link_to "Plano Treino", root_path %> </li>
		            </ul>
		        </li>
		        <li> Administração </li> 
           	</ul>
	</div>

	<div id="content">
		<%= yield %>
	</div>
</div>

<div id="footer">
	<div id="footer-info">
		<ul>
			<li> <%= link_to "About", root_path %> </li>
			<li> <%= link_to "FAQ", root_path %> </li>
			<li> <%= link_to "Terms of Use", root_path %> </li>
			<li> <%= link_to "Help", root_path %> </li>
		</ul>
	</div>
	<div id="footer-social">
		<ul>	
			<li> <%= link_to "Facebook", root_path %> </li>
			<li> <%= link_to "Twitter", root_path %> </li>
		</ul>
	</div>
</div>

</body>
</html>
