<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>FiT Mobile</title>
	<%= stylesheet_link_tag "bootstrap", "bootstrap-extension", "mobile"%>
	<%= stylesheet_link_tag "mobile", :media => "handheld"%>
	<%= javascript_include_tag "jquery.js"%>
	<%= javascript_include_tag "bootstrap-dropdown.js", "bootstrap-alerts.js", "onLoad.js", "utils.js"%>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0'" />
	<%= csrf_meta_tag %>
  </head>
  
  <body>
  
  <div id="container">
   
	<div class="mobile-topbar">
		<a class="brand" href="<%= root_url %>"> <%= image_tag "brand_mobile.png" %></a>
	
		<div class="mobile-topbar-buttons">
		<!--<%= link_to "Full Site", root_url(:mobile => 0), :class => "btn success"%>-->
		
		<% if current_user %>
			<%= link_to "Log out", log_out_path, :class =>"btn danger"%>
			<!--<a class="exit_btn" href="<%= log_out_path %>"> <%= image_tag "power.png" %></a>-->
		<% end %>
		</div>
	</div>

   
   <div id="body"> 
		<% unless flash.empty? %>
        <div class="info">
        <%- flash.each do |name, msg| -%>
			<div class="alert-message <%= name %> fade in">
			<a href="#" class="close">x</a>
			<p><%= msg %></p>
			</div>
        <%- end -%>
		</div>
		<% end %>
	  
		<% if !current_user || (current_user && current_user.normal?) %>
        <%= yield %>
		<% else %>
		A versão movel do site está apenas disponível para utilizadores não administrativos!
		<% end %>
		</div>
	</div>
   

	<div class="mobile-footer">
		<!-- <%= button_to "Back", :back %> -->
		<p>© Copyright 2011 </p>
	</div>
   
  </div>
	
  </body>
</html>
