<!DOCTYPE html>
<html>
<head>
  <title>Fit</title>
  <%= stylesheet_link_tag "bootstrap", "screen" %>
  <%= stylesheet_link_tag "mobile" if mobile_device? %>
  <%= javascript_include_tag "application.js", "controls.js", "dragdrop.js", "effects.js", "prototype.js", "jquery.js", "rails.js", "utils.js", "login.js" %>
  <%= javascript_include_tag "bootstrap-dropdown.js", "bootstrap-alerts.js", "jquery.validate.js", "validateForms.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- login bar -->
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#"><%= image_tag "brand.png" %></a>

      <% if current_user %>
        <ul class="nav secondary-nav">
          <li class="menu">
            <a href="#" class="menu">Ligado como <%= current_user.nome %>.</a>
            <ul class="menu-dropdown">

              <% if current_user.admin? %>
              <li><%= link_to "Registar Novo Utilizador", sign_up_path %></li>
              <li class="divider"></li>
              <% end %>

              <li><%= link_to "Ver perfil", current_user %></li>
              <li><%= link_to "Log out", log_out_path %></li>
            </ul>
          </li>
        </ul>

      <!-- render <form> written in separate file -->    
      <% else %> 
        <%= render :partial => '/sessions/form' %>
      <% end %> 

    </div>
  </div>
</div> <!-- endof .topbar -->

<!-- le container section -->
<div class="container-fluid topSpacing1">

  <% if current_user %>
  <!-- le sidebar menu -->
  <div class="sidebar">
    <div class="sidebar2">
      <ul class="top-level">

        <li class="more">
          <a href="#">Principal</a>
          <ul class="sub-level">
            <li><%= link_to root_url do %> Home <% end %></li>
            <li><%= link_to notificacaos_path do %> Notificações <% end %></li>
            <li><%= link_to ginasios_path do %> Ginásios <% end %></li>
          </ul>
        </li>

        <li class="more">
          <a href="#">Aulas</a>
          <ul class="sub-level">
            <li><a href="#">Horários</a></li>
            <li><a href="#">Modalidades</a></li>
          </ul>
        </li>

        <li class="more">
          <a href="#">A minha Conta</a>
          <ul class="sub-level">
            <% if current_user %>
              <li><%= link_to "Perfil", current_user %></li>

              <% if current_user.normal? %>
                <li><%= link_to "Planos de Treino", user_planos_path(current_user) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>

        <% if current_user && (current_user.admin? || current_user.staff?) %>
        <li class="more">
          <a href="#">Administração</a>
          <ul class="sub-level">
            <li><%= link_to "Utilizadores", users_path %></li>
            <li><%= link_to "Exercicios", exercicios_path %></li>
          </ul>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  <% end %>

  <!-- le contents -->
  <div class="content">

    <!-- le flash messages section -->
    <div class="row">
      <div class="span16">
        <% flash.each do |name, msg| %>
        <div class="alert-message <%= name %> fade in">
          <a href="#" class="close">x</a>
          <p><%= msg %></p>
        </div>
        <% end %>
      </div>
    </div>

    <!-- the actual contents -->
    <div class="row">
      <%= yield %>
    </div>

  </div> <!-- endof content -->
</div>

<!-- le footer -->
<footer class="topSpacing1">
<div class="container">
  <div id="footer-info">
    <ul>
      <li> <%= link_to "About", root_path %> </li>
      <li> <%= link_to "FAQ", root_path %> </li>
      <li> <%= link_to "Terms of Use", root_path %> </li>
      <li> <%= link_to "Help", root_path %> </li>

      <% if !mobile_device? %>
      <li ><%= link_to "Mobile Site", :mobile => 1 %></li>
      <% end %>
    </ul>
  </div>

  <div id="footer-social">
    <ul>	
      <li> <%= link_to "Facebook", root_path %> </li>
      <li> <%= link_to "Twitter", root_path %> </li>
    </ul>
  </div>
</div>
</footer> <!-- endof #footer -->

</body>
</html>

