<!DOCTYPE html>
<html>
<head>
  <title>Fit</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "aplication.js", "controls.js", "dragdrop.js", "efects.js", "prototype.js", "jquery.js", "rails.js", "utils.js", "menu.js", "jquery.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
	<div id="header-top">
		<%= image_tag "logo.png" %>
	</div>
	<div id="header-bar"></div>
</div>

<div id="navigation">
        
        <div id="sidebar">     
        	<ul>
		        <li> Home </li>
		        <li> News </li>
		        <li> Ginásios </li>
		        <li> Aulas
		        	<ul>
		            	<li> <%= link_to "Horários", root_path %> </li>
		            	<li> <%= link_to "Modalidades", root_path %> </li>
		            </ul>
		        </li>
		        <li> Conta Pessoal
		        	<ul>
		            	<li> <%= link_to "Perfil", root_path %> </li>
		            	<li> <%= link_to "Plano Treino", root_path %> </li>
		            </ul>
		        </li>
		        <li> Administração </li> 
           	</ul>
	</div>

	<div id="content">
		<%= yield %>
	</div>
</div>

<div id="footer">
	<div id="footer-info">
		<ul>
			<li> <%= link_to "About", root_path %> </li>
			<li> <%= link_to "FAQ", root_path %> </li>
			<li> <%= link_to "Terms of Use", root_path %> </li>
			<li> <%= link_to "Help", root_path %> </li>
		</ul>
	</div>
	<div id="footer-social">
		<ul>	
			<li> <%= link_to "Facebook", root_path %> </li>
			<li> <%= link_to "Twitter", root_path %> </li>
		</ul>
	</div>
</div>

</body>
</html>
