<!DOCTYPE html>
<html>
<head>
  <title>Fit</title>
  <%= stylesheet_link_tag "bootstrap", "screen", "bootstrap-extension" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans" %>
  <%= javascript_include_tag "application.js", "controls.js", "dragdrop.js", "effects.js", "prototype.js", "jquery.js", "rails.js", "utils.js", "login.js" %>
  <%= javascript_include_tag "bootstrap-dropdown.js", "bootstrap-alerts.js", "jquery.validate.js", "onLoad.js" %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>

<!-- login bar -->
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#"><%= image_tag "brand.png" %></a>

      <% if current_user %>
        <ul class="nav secondary-nav">
          <li class="menu">
            <a href="#" class="menu">Ligado como <%= current_user.nome %>.</a>
            <ul class="menu-dropdown">

              <% if !current_user.normal? %>
              <li><%= link_to "Registar Novo Utilizador", sign_up_path %></li>
              <li class="divider"></li>
              <% end %>

              <li><%= link_to "Ver perfil", current_user %></li>
              <li><%= link_to "Log out", log_out_path %></li>
            </ul>
          </li>
        </ul>

      <!-- render <form> written in separate file -->    
      <% else %> 
        <%= render '/sessions/form' %>
      <% end %> 

    </div>
  </div>
</div> <!-- endof .topbar -->

<!-- le container section -->
<div class="container-fluid topSpacing1">

  <% if current_user %>
    <%= render 'layouts/menu' %>
  <% end %>

  <!-- le contents -->
  <div class="content">

    <!-- le flash messages section -->
    <div class="row">
      <div class="span16">
        <% flash.each do |name, msg| %>
        <div class="alert-message <%= name %> fade in">
          <a href="#" class="close">x</a>
          <p><%= msg %></p>
        </div>
        <% end %>
      </div>
    </div>

    <!-- the actual contents -->
    <div class="row">
      <%= yield %>
    </div>

  </div> <!-- endof content -->
</div>

<!-- le footer -->
<footer class="bottombar">
<div class="container">
  <div id="footer-info">
    <ul>
      <li> <%= link_to "About", root_path %> </li>
      <li> <%= link_to "FAQ", root_path %> </li>
      
      <li> <%= link_to "Help", root_path %> </li>
      <li> <%= link_to "Android", "FiT.apk" %> </li>

      <% if !mobile_device? %>
      <li ><%= link_to "Mobile Site", root_url(:mobile => 1) %></li>
      <% end %>
    </ul>
  </div>

  <div id="footer-social">
    <ul>	
      <li> <%= link_to "Facebook", root_path %> </li>
      <li> <%= link_to "Twitter", root_path %> </li>
    </ul>
  </div>
</div>
</footer> <!-- endof #footer -->

</body>
</html>

